{% extends "default.twig" %}

{% block content %}
    <section>
        <time datetime="{{ page.date }}">
            <strong>{{ page.date|date('M') }}</strong>
            <span>{{ page.date|date('d') }}</span>
            <em>{{ page.date|date('Y') }}</em>
        </time>

        <div class="left">
            <h1>{{ page.title }}</h1>

            {{ content }}
        </div>
    </section>

    <script type="text/javascript" src="https://asciinema.org/a/{{ page.asciinema_id }}.js" id="asciicast-{{ page.asciinema_id }}" async></script>

    {% if page.tags %}
        <ul class="list tags">
            {% for tag in page.tags %}
                <li><a href="#" class="label">{{ tag }}</a></li>
            {%  endfor %}
        </ul>
    {% endif %}

    {% include 'disqus.html.twig' %}
{% endblock %}
