{% extends "default.twig" %}

{% block content %}
    {{ content }}

    {% for page in pages|reverse %}
        {% if page.type %}
            <section>
                <time datetime="{{ page.date }}">
                    <strong>{{ page.date|date('M') }}</strong>
                    <span>{{ page.date|date('d') }}</span>
                    <em>{{ page.date|date('Y') }}</em>
                </time>

                <div class="left">
                    <h1>
                        {% if page.type != 'quote' %}
                            <a href="{{ page.location }}">{{ page.title }}</a>
                        {% else %}
                            {{ page.title }}
                        {% endif %}
                    </h1>

                    {% if page.type == 'quote' or page.type == 'deck' %}
                        <p>{{ page.html }}</p>
                    {% else %}
                        <p>{{ page.summary }}</p>
                    {% endif %}
                </div>
            </section>

            {% if page.tags %}
                <ul class="list tags">
                    {% for tag in page.tags %}
                        <li><span class="label">{{ tag }}</span></li>
                    {%  endfor %}
                </ul>
            {% endif %}

            <hr/>
        {% endif %}
    {% endfor %}
{% endblock %}
